
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="/dist/purple/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/dist/purple/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/dist/purple/css/style.css">
    <link rel="shortcut icon" href="/dist/purple/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="/dist/purple/images/logo.svg">
                            </div>
                            <!--<h4>Hello! let's get started</h4>-->
                            <!--<h6 class="font-weight-light">Sign in to continue.</h6>-->
                            <form class="pt-3">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="txtUsername" placeholder="请输入用户名">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="txtPassword" placeholder="请输入密码">
                                </div>
                                <div class="mt-3">
                                    <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="/dist/purple/index.html">登录</a>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            保持登录状态
                                        </label>
                                    </div>
                                    <a href="#" class="auth-link text-black">忘记密码?</a>
                                </div>

                                <div class="text-center mt-4 font-weight-light">
                                    还没账号? <a href="/user/register" class="text-primary">注册一个</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <script src="/dist/purple/vendors/js/vendor.bundle.base.js"></script>
    <script src="/dist/purple/vendors/js/vendor.bundle.addons.js"></script>
<script src="/dist/purple/js/off-canvas.js"></script>
    <script src="/dist/purple/js/misc.js"></script>

</body>

</html>
