
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" href="/dist/purple/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/dist/purple/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/dist/purple/css/style.css">
    <link rel="shortcut icon" href="/dist/purple/images/favicon.png" />
    <link href="/dist/loading/css/animate.css" rel="stylesheet" />
    <link href="/dist/loading/css/global.css" rel="stylesheet" />
    <link href="/dist/loading/css/loading.css" rel="stylesheet" />
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        <div class="brand-logo">
                            <img src="/dist/purple/images/logo.svg">
                        </div>
                        <form class="pt-3">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="txtUsername" placeholder="请输入用户名">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="txtEmail" placeholder="请输入邮箱">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="txtPassword" placeholder="请输入密码">
                            </div>
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input">
                                        没啥协议，打个勾意思意思
                                    </label>
                                </div>
                            </div>
                            <div class="mt-3">
                                <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" id="btnRegister" href="javascript:void(0);">注册</a>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                有账号了? <a href="/user/login?returnUrl=@ViewBag.ReturnUrl" class="text-primary">前往登陆</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/dist/purple/vendors/js/vendor.bundle.base.js"></script>
<script src="/dist/purple/vendors/js/vendor.bundle.addons.js"></script>
<script src="/dist/purple/js/off-canvas.js"></script>
<script src="/dist/purple/js/misc.js"></script>
<script src="/dist/loading/js/loading.js"></script>
<script src="/dist/node_modules/axios/dist/axios.min.js"></script>
<script src="/javascript/axiosLoading.js"></script>
<script>
    $(function () {
        var lastCheckUsername = '';
        var isCheckedUsername = false;
        $('#txtUsername').on('blur',
            function() {
                var that = $(this);
                if (that.val() !== '' && that.val() !== lastCheckUsername) {
                    lastCheckUsername = that.val();
                    axios.get('/user/checkUsername?username=' + that.val()).then(function(response) {
                        var data = response.data;
                        if (data.isSuccess) {
                            isCheckedUsername = true;
                        } else {
                            isCheckedUsername = false;
                            alert(data.msg);
                        }
                    });
                }
            });
        $('#btnRegister').on('click',
            function() {
                if (!isCheckedUsername) {
                    alert("请输入正确的用户名");
                    return;
                }
                var username = $('#txtUsername').val();
                var email = $('#txtEmail').val();
                var password = $('#txtPassword').val();
                var obj = {
                    username: username,
                    email: email,
                    password: password
                };
                axios.post('/user/registerHandler', obj).then(function(response) {
                    var data = response.data;
                    if (data.isSuccess) {
                        location.href = "@ViewBag.ReturnUrl";
                    } else {
                        alert(data.msg);
                    }
                });
            });
    })
</script>
</body>

</html>
